.banner-container{
  background-color:#000810;
  height: 600px;
  display: flex;
  align-items: center;
}

.banner{
  display: flex;
  justify-content: space-between;
}

.banner-container-text{
  max-width: 500px;
  gap: 2em;
}

.banner-container-text > h1{
  color: white;
}

.banner-container-text > h2{
  color: white;
}
.banner-container-text > h2 > span{
  color:#f7bb27;
}

.banner-container-text > p{
  color: gray;
}

.banner-btn{
  /* background-color: #f7bb27; */
  color: white;
  padding: 0.5em 2em ;
  border-radius: 30px;
  transition: all .3s;
  border: 1px solid white;
}

.banner-btn:hover{
  transition: all .3s;
  background-color: #f7bb27;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .banner-container{
    height: auto;

  }
  .banner{
    flex-direction: column;
    margin-top: 2em;
  }

  .banner-img{
    margin: auto;
    max-width:300px !important ;
  }

  .banner-btn{
    margin: auto !important;
  }

  
}