
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  /* Animation for fading in */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal.show {
  display: block;
  opacity: 1;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Center the modal */
  padding: 20px;
  border: 1px solid #888;
  max-width: 500px; /* Could be more or less, depending on screen size */
  transform: translateY(-100px); /* Start above the viewport */
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0; /* Start invisible */

  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100vh); /* Start from above the viewport */
    opacity: 0; /* Start invisible */
  }
  to {
    transform: translateY(0); /* End at its normal position */
    opacity: 1; /* Fully visible */
  }
}


.modal.show .modal-content {
  transform: translateY(0); /* Slide into view */
  opacity: 1; /* Fade in */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn-modal{
  max-width: 80px;
  text-align: center;
  margin-left: auto;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}


.movie_carousel_cover {
  width: 100%;
  height: auto;
}